* {
  font-family: sans-serif;
}

body {
  background: #2f1893;
}
.container{
    color: aliceblue;
}
.nav-container{
}
.nav-link{ 
    display: flex; 
    justify-content: right;
    
   
}
.logo{
    display: flex;
    
}
